<h1>
    <center>
        Predicting house prices

What we want to do is predict how much a certain house might cost, based on some variables. In order to do so you need to follow these four steps:

* 1. Get some historical data on house sales; for this example, you'll use a dataset of about 20,000 houses in Seattle.
* 2. Import this data to your code while applying some scaling to your variables (I'll explain scaling to you as we go).
* 3. Build an Artificial Neural Network using any library—you'll use Keras, as it is simple and reliable.
* 4. Train your ANN and get the results.

# install libraries

conda install pandas=1.4.3

pip3 install -U scikit-learn

pip install tensorflow

# Importing the libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from keras.layers import Dense, Dropout
from keras.models import Sequential
from keras.optimizers import Adam

# Importing the dataset

In [2]:
url = "https://raw.githubusercontent.com/PacktPublishing/AI-Crash-Course/master/Chapter%2009/kc_house_data.csv"
dataset = pd.read_csv(url)

In [3]:
import tensorflow as tf;
print(tf.config.list_physical_devices('GPU'))

[]

## Viewing dataset

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

## Getting separately the features and the targets

Deletion of column 14 zip code

In [5]:
X = dataset.iloc[:, 3:].values
X = X[:, np.r_[0:13,14:18]]
y = dataset.iloc[:, 2:].values
# Equivale ao dataset.drop(["zipcode"], axis=1, inplace=True)

In [6]:
dataset.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

# Data preparation

## Splitting the dataset into a training set and a test set

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state= 0)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(17290, 17)
(17290, 19)
(4323, 17)
(4323, 19)

## Scaling the features

In [8]:
xscaler = MinMaxScaler(feature_range=(0,1))
X_train = xscaler.fit_transform(X_train)
X_test = xscaler.fit_transform(X_test)

## Scaling the target

In [9]:
yscaler = MinMaxScaler(feature_range = (0,1))
y_train = yscaler.fit_transform(y_train.reshape(-1, 1))
y_test = yscaler.fit_transform(y_test.reshape(-1, 1))

# Building the neural network

## Building the Artificial Neural Network

In [10]:
model = Sequential()

model.add(Dense(units = 64, kernel_initializer = 'uniform', activation= 'relu', input_dim=17))
model.add(Dense(units=16, kernel_initializer= 'uniform', activation = 'relu'))
model.add(Dense(units =1, kernel_initializer= 'uniform', activation='relu'))

model.compile(optimizer= Adam(learning_rate = 0.001), loss = 'mse', metrics = ['mean_absolute_error'])

# Training the Artificial Neural Network

In [12]:
model.fit(X_train, 
          y_train, 
          batch_size = 128, 
          epochs = 50, 
          validation_data=(X_test, y_test), 
          workers = 16, 
          use_multiprocessing = True)

ValueError: Data cardinality is ambiguous:
  x sizes: 17290
  y sizes: 328510
Make sure all arrays contain the same number of samples.

# Displaying results

## Making predictions on the test set while reversing the scaling

In [ ]:
y_test = yscaler.inverse_transform(y_test)

prediction = yscaler.inverse_transform(model.predict(X_test))

## Computing the error rate

In [ ]:
error = abs(prediction - y_test)/y_test
print(np.mean(error))